
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    src: url("Montserrat-Black.otf") format("opentype");
}

@font-face {
    font-family: NanumGothic;
    font-style: normal;
    src: url("NanumGothicBold.ttf") format("truetype");
}


span, body, div, img, button {
	margin: 0;
	padding: 0;
	font-family: NanumGothic;
}


.navdiv {
	width: 100%;
	height: 45px;
	background: #1F2533;
	position: static;
}

.nowplayingdiv:hover, .theaterdiv:hover, .upcomingdiv:hover, .reservationdiv:hover, .logindiv:hover {
	color: #4EA385;
	cursor: Pointer;
}

.homeicondiv:hover {
	cursor: Pointer;
}


.homeicondiv , .nowplayingdiv , .theaterdiv, .upcomingdiv, .reservationdiv, .logindiv{
	float: left;
}
.nowplayingdiv , .theaterdiv, .upcomingdiv, .reservationdiv, .logindiv{
	font-family: monospace;
	margin-top: 13px;
	margin-left: 23px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.home-hero {
    min-height: calc(100vh - 224px);
    position: relative;       
}

.home-hero-video-iframe{
    position: absolute;   
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: 30;

}

.moviesdiv {
	padding-top: 40px;
	margin: auto;
	text-align: center;
}

.nowshowingdiv {
	width: 10%;
	height: 10%;
	float: left;
}

.comingsoondiv {
	width: 10%;
	height: 10%;
	background: blue;
	float: left;
}

.buttons {
	padding-top: 30px;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
}

.nowshowingbtn {
	border: 1px solid;
	outline: 0;
	font-size: 20px;
	color: #333333;
	font-weight: 500;
	padding: 20px;	
	
}

.comingsoonbtn {
	border: 1px solid;
	outline: 0;	
	font-size: 20px;	
	padding: 20px;	
	color: #999999;	
}

.movieareadiv {
    width: auto;
    height: 1500px;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    background: #F4F4F4;
    margin: 0;
   
}


.movieTable {
	width: 100%;
	height: 500px;
	padding: 5%;
	
}
.list {
	height: 400px;
	
}

.movieimg img {
    width: 230px;
    height: 336px;    
    background: #FFFFFF;
    
}

.first {
	width: auto;
	height: auto;	
	display: inline-block;
	border: 0.5px solid;
	border-color: #999999;
	margin-left: 5px;
	margin-bottom: 10px;
	
}

.blank {
	width: 10%;
	display: inline-block;
}

.movieinfor {	
	
}

.movieimg {
	width: 230px;
	height: 336px;
}

.starstr {
	margin-top: 6px;
	font-size: 15px;
	float: left;
}

.startimg {
	font-size: 25px;
	float: right;
	color: blue;
}

.moviename {
	padding-left: 10px;
	padding-top: 5px;
	clear: both;
}

.stars {
	width: auto;
	height: 40px;
	padding-top:10px;
	padding-left: 10px;
	padding-right:15px;
	border-bottom: 0.5px solid;
	border-color: #999999;
}

.movieTitle {
	padding-left: 50px;
	font-size: 20px;
	margin-bottom: 5px;
	
}
.ageimg {
	padding-top: 1px;
	float: left;
}

.bookbtn {
	background: #4EA385;
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 10px;

}

.active {
	display: block;
}

.inactive {
	display: none;
}

.nowplayingpage {
	width: 200px;
	height: 200px;
	background: red;
}
