/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

ul{
	list-style: none;
}
.reservation_list{
	display:inline-block;
	width :100%;
	zoom : 1;
	border-bottom : 1px solid #eff1f3;
	padding :13px 20px;

}
.listing-info {
	float : left;
	color : #999999;
	width :28%;

}
ul .reservation_list > div{
	float : left;
	text-align : left;
	font-weight:400;
}
ul .reservation_list .listing-info .details{
	float : left;
	margin-top:5px;
	padding-left:5px;
	display : table;
	width :100%;
}
ul .reservation_list .reservation_body{
	float : left;
	width : 70%;
	font-family: Montserrat,sans-serif;
	margin-top:5px;
}


ul .reservation_list .listing-info .details ._name{
	display : table-cell;
	vertical-align : top;
	font-size:12px;
	color : #333333;
	margin-bottom :10px;
	padding-left:5px;
	padding-right:20px;
	position :relative;

	
	
}
ul .reservation_list .reservation_body>div{
	float : left;
	position : relative;
	width:5%;
	line-height: 30px;

	margin-left: 10px;
	margin-bottom :12px;
	text-align: center;
	box-shadow: 0 0 0 1px #dddddd;
	color : #0066ff;
	border-radius : 2px;
}
ul .reservation_list .reservation_body>div a{
	float : left;
	font-size : 10px;
	display :inline-block;
	width:100%;
	position : relative;
	font-family: Montserrat,sans-serif;
	text-decoration: none; 

}
.showdates{
	background-color : #49ba8e;

	text-align: center;
	line-height: 40px;
	border-radius : 10px;
	width : 40px;
	float : left;
	list-style: none;
}
.showdates > a{
	font-family: Montserrat,sans-serif;
	color : white;
	text-decoration: none; 
	display :inline-block;
	width:100%;
	
}
.date_data{
	padding-left : 60px;
}
.reservationpage{
	width: 1080px;
	height: 1080px;
	margin: 10% auto; 	
}