@import url('https://fonts.googleapis.com/css?family=Cabin|Noto+Sans');
@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    src: url("Montserrat-Light.otf") format("opentype");
}

@font-face {
    font-family: NanumGothic;
    font-style: normal;
    src: url("NanumGothicBold.ttf") format("truetype");
}


span, body, div, img, button {
	margin: 0;
	padding: 0;
	font-family: NanumGothic;
}


.navdiv {
	width: 100%;
	height: 45px;
	background: #1F2533;
	position: static;
}

.nowplayingdiv:hover, .theaterdiv:hover, .upcomingdiv:hover, .reservationdiv:hover, .logindiv:hover, .storediv:hover {
	color: #4EA385;
	cursor: Pointer;
}

.homeicondiv:hover {
	cursor: Pointer;
}


.homeicondiv , .nowplayingdiv , .theaterdiv, .upcomingdiv, .reservationdiv, .logindiv, .storediv{
	float: left;
}
.nowplayingdiv , .theaterdiv, .upcomingdiv, .reservationdiv, .logindiv, .storediv{
	font-family: 'Noto Sans', sans-serif;
	margin-top: 13px;
	margin-left: 23px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.home-hero {
    min-height: calc(100vh - 224px);
    position: relative;       
}

.home-hero-video-iframe{
    position: absolute;   
    left: 0;
    width: 100%;
    height: 100%;    
    z-index: 30;

}

.moviesdiv {
	padding-top: 40px;
	margin: auto;
	text-align: center;
}

.nowshowingdiv {
	width: 10%;
	height: 10%;
	float: left;
}

.comingsoondiv {
	width: 10%;
	height: 10%;
	background: blue;
	float: left;
}

.buttons {
	padding-top: 30px;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
}

.clicked {
	border: 1px solid;
	outline: 0;
	font-size: 20px;
	color: #333333;
	font-weight: 500;
	padding: 20px;	
	
}

.unclicked {
	border: 1px solid;
	outline: 0;	
	font-size: 20px;	
	padding: 20px;	
	color: #999999;	
}

.clicked:hover, .unclicked:hover {
	cursor: Pointer;
}

.movieareadiv {
    width: auto;
    height: auto;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    background: #F4F4F4;
    margin: 0;
   
}


.movieTable {
	width: 100%;
	height: 500px;
	padding: 5%;
	
}
.list {
	height: 400px;
	
}

.movieimg img {
    width: 230px;
    height: 336px;    
    background: #FFFFFF;
    
}

.first {
	width: auto;
	height: auto;	
	display: inline-block;
	border: 0.5px solid;
	border-color: #999999;
	margin-left: 5px;
	margin-bottom: 10px;
	
}

.blank {
	width: 10%;
	display: inline-block;
}

.movieinfor {	
	background: #FFFFFF;
}

.movieimg {
	width: 230px;
	height: 336px;
}

.starstr {
	margin-top: 6px;
	font-size: 15px;
	float: left;
	color: #6A6A6A;
}

.startimg {
	font-size: 25px;
	float: right;
	color: blue;
}

.moviename {
	padding-left: 10px;
	padding-top: 5px;
	clear: both;
}

.stars {
	width: auto;
	height: 40px;
		
	padding-left: 10px;
	padding-right:15px;
	border-bottom: 0.5px solid;
	border-color: #999999;
}

.movieTitle {
	padding-left: 50px;
	font-size: 20px;
	margin-bottom: 5px;
	
}
.ageimg {
	padding-top: 1px;
	float: left;
}

.bookbtn {
	background: #4EA385;
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	padding-top: 7px;

}

.pageactive {
	display: block;
}

.pageinactive {
	display: none;
}

.theateractive {
	display: block;
}

.theaterinactive {
	display: none;
}

.seatactive {
	display: block;
}

.seatinactive {
	display: none;
}

.nowplayingpage {
	width: 100%;
	height: 100%;
}
.Mbody{
	margin-left:25%; 
	margin-right: 25%; 
	font-family: 'Nanum Gothic';
}
.StoreBody{
	margin-left:25%; 
	margin-right: 25%; 
	font-family: 'Nanum Gothic';
}

.signindiv {
	display: inline-block;
	height: 100%;
	color: #49BA8E;
	font-family: 'Montserrat';
	font-size: 17px;
	margin: 0 auto;
	
}

#well > .modal-header {
	background: #1F2533;
	text-align: center;

}

.idinput, .passwordinput {
	width: 100%;
	height: 40px;
	font-size: 15px;
	text-indent: 20px;
	
}

.idinputdiv, .passwordinputdiv {
	width: 80%;
	height: 40px;
	background: yellow;
	margin: 0 auto;
	font-size: 15px;

}

.passwordinputdiv {
	margin-top: 7px;
	margin-bottom: 7px;
}

.idinputdiv > input, .passwordinputdiv > input {
	border: 0.5px solid #DDDDDD;
	font-family: Montserrat;
	outline: 0;
}

.idinputdiv > input:focus, .passwordinputdiv > input:focus {
	border: 0.5px solid #49BA8E;

}

#well > .modal-title {
	text-align: center;
	font-family: Montserrat;
}

#well > .modal-body {
	background: #F2F2F2;
	margin: 0 auto;
	text-align: center;
}

.modalbuttondiv {
	margin: 0 auto;
	display: inline-block;
}

.modalwrapdiv {
	text-align: center;
}

.signinbtn {
	display: inline-block;
	width: 80%;
	height: 40px;
	padding-top: 10px;
	background: #97222D;
	color:white;
	font-family: Montserrat;
	text-align: center;
}

.signinbtnwrap {
	width: 100%;
	height: auto;
	text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 13px;
  font-family: Montserrat;
}

.fotgotpassword {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Montserrat;
	color: #2F63CF;
}

.signupstr, .signinstr {
	color: #C43A46;
	font-size: 15px;
	font-family: Montserrat;
	text-decoration: underline;
}

.signupstr:hover , .signinstr:hover, .fotgotpassword:hover, .signinbtn:hover {
	cursor:pointer;
}

.goodstrdiv {
	margin-bottom: 15px;
}

.signactive {
	display: block;
}

.signinactive {
	display: none;
}

.validationinactive {
	display: none;
}
