#movieListBtn:hover, #movieAddBtn:hover, #memberListBtn:hover {
	cursor: Pointer;
}

.ownerpage_menu{
	float: left;
}
body .ownerpage_content {
	width:85%;
	height:800px;
	
}

#movielistcontent {
	display:inline-block;
}

#movieaddcontent {
	display: none;
}

#memberlistdiv {
	display: none;
}


.ownerpage_content .ownerpage_content_head{
	width: 100%;
	
	padding: 5%;


}
.ownerpage_content .ownerpage_content_head div{
	text-align: right;
	padding: 5% 0 0 0;

}
.ownerpage_content .ownerpage_content_head span{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;	
	border-bottom: 3px solid gray;
}
.movielistdiv .ownerpage_movie{

	width: 100%;	
	
}
.movielistdiv{
	height: auto;
	border:3px solid black;
}

.movielist_head td, .movieadd_head td{
	height: 40px;
	border : 2px solid gray;
}
.movielist_content .td_btn{
	width:40px;
}
.ownerpage_movie tr div{

	text-align: center;
	color: gray;
	font-weight: bold;
	
}
.movielist_content{
	height: 40px;
}
.ownerpage_movie div div span{
	font-size: 16px;
}
.ownerpage_movie div input{
	width: 80%;

}
.ownerpage_movie div textarea{
	width: 100%;
	height: 50%;
	resize: none;

}
.ownerpage_user{
	width:100%;
}

.us_id .ownerpage_content_head{
	width: 100%;
	
	padding: 5%;


}
.us_id .ownerpage_content_head div{
	text-align: right;
	padding: 5% 0 0 0;

}
.us_id .ownerpage_content_head span{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;	
	border-bottom: 3px solid gray;
}