<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-text">베드시네마</div>
		</div>
		<div class="navigation align-text">
			<div>상영 예정 영화</div>
			<div>최신 영화</div>
			<div>영화관</div>
			<div>예매</div>
			<div>로그인</div>
		</div>
		<div class="movieOrder">
			<div class="boxoffice">
				박스오피스
			</div>
			<div>
				<ul>
					<li>111111</li>
					<li>222222</li>
					<li>333333</li>
					<li>444444</li>
					<li>555555</li>
					<li>666666</li>
				</ul>

			</div>
			

		</div>
		<div class="mid">
			<div class="move"></div>
		</div>
		
	</div>
</body>
</html>