<html>
  <head>
    	<title>Main</title>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
    	<script src="jquery-3.2.1.min.js"></script>
  		
  </head>
<body>

	<div class="container">
		<div class="header">
			<div class="header-text"><span class="homeBtn">베드시네마</span></div>
		</div>
		<div class="navigation align-text">
			<div><span class="upcoming">상영 예정 영화</span></div>
			<div><span class="newmovie">최신 영화</span></div>
			<div><span class="theater">영화관</span></div>
			<div><span class="reservation">예매</span></div>
			<div><span class="login">로그인</span></div>
		</div>
		<div class="page active">
			<div class="movieOrder">
				<div class="boxoffice">
					박스오피스
				</div>
				<div>
					<ul>
						<li>111111</li>
						<li>222222</li>
						<li>333333</li>
						<li>444444</li>
						<li>555555</li>
						<li>666666</li>
					</ul>

				</div>
				

			</div>


			<div class="movieList">			
				<div class="upperList">
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>


				</div>
				<div class="downList">
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>
					<div class="blank"></div>
					<div class="movie"><img src="/img/Msal"/ class="filldiv"><div class="movieName">Kan</div></div>	

				</div>
			</div>


			<div class="moreBtn">more</div>
		</div>

<!-- ########################################################################################### -->
		<div class="upcomingPage inactive">
		upcomingPage

		</div>

<!-- ########################################################################################### -->

		<div class="newMoviePage inactive">
		newMoviewPage

		</div>

<!-- ########################################################################################### -->
		<div class="theaterPage inactive">
		theaterPage

		</div>

<!-- ########################################################################################### -->
		<div class="reservationPage inactive">
		reservationPage
		</div>


<!-- ########################################################################################### -->

	</div>
	<script src="app.js"></script>
</body>
</html>